<footer class="wrap-full main-footer">
  <div class="row">
    <div class="large-12 columns">
      <h2>(주)본보야지</h2>
      <p>
        <a href="http://www.evasion.co.kr/evasion.php" target="_blank">에바종 소개</a> <span style="white-space: nowrap">|</span>
        <a href="http://www.evasion.co.kr/bbs/board.php?bo_table=media" target="_blank">미디어</a> <span style="white-space: nowrap">|</span>
        <a href="http://www.evasion.co.kr/bbs/board.php?bo_table=notice" target="_blank">공지사항</a> <span style="white-space: nowrap">|</span>
        <span style="white-space: nowrap">Follow</span> <span style="white-space: nowrap">us</span> <span style="white-space: nowrap">on:</span> &nbsp;&nbsp;<a href="http://blog.naver.com/evasionkorea" target="_blank" class="sns">Naver Blog</a> <span style="white-space: nowrap">&nbsp;&nbsp;</span>
        <a href="https://www.facebook.com/evasionkr" target="_blank" class="sns">Facebook</a> <span style="white-space: nowrap">&nbsp;&nbsp;</span>
        <a href="https://twitter.com/evasionkr" target="_blank" class="sns">Twitter</a>
      </p>
      <p class="copyrights">
        <span style="white-space: nowrap">전화:</span> <span style="white-space: nowrap">1577</span> <span style="white-space: nowrap">-</span> <span style="white-space: nowrap">9056</span> <span style="white-space: nowrap">|</span> <span style="white-space: nowrap">이메일:</span> <a href="mailto:info@evasion.co.kr">info@evasion.co.kr</a> <span style="white-space: nowrap">|</span> <span style="white-space: nowrap">주소:</span> <span style="white-space: nowrap">서울특별시</span> <span style="white-space: nowrap">중구</span> <span style="white-space: nowrap">정동길</span> <span style="white-space: nowrap">33</span> <span style="white-space: nowrap">신아기념관</span> <span style="white-space: nowrap">304호</span> <span style="white-space: nowrap">|</span> <span style="white-space: nowrap">대표자:</span> <span style="white-space: nowrap">에드몽</span> <span style="white-space: nowrap">위그</span> 제라르<br>
        <span style="white-space: nowrap">통신판매업신고번호:</span> <span style="white-space: nowrap">2013-서울</span> <span style="white-space: nowrap">중구-1277</span> <span style="white-space: nowrap">|</span> <span style="white-space: nowrap">사업자</span> <span style="white-space: nowrap">등록번호:</span> <span style="white-space: nowrap">211-88-68189</span> <span style="white-space: nowrap">|</span> <span style="white-space: nowrap">개인정보관리책임자:</span> 이재인<br>
        <span style="white-space: nowrap">COPYRIGHT</span> <span style="white-space: nowrap">©</span> <span style="white-space: nowrap">2011</span> <span style="white-space: nowrap">-</span> <span style="white-space: nowrap">2014</span> <span style="white-space: nowrap">BonVoyage</span> <span style="white-space: nowrap">Inc.</span> <span style="white-space: nowrap">All</span> <span style="white-space: nowrap">rights</span> <span style="white-space: nowrap">reserved.</span>
      </p>
    </div>
  </div>
</footer>