<nav style="  background-color: #333333;">
  <ul class="nav-list row collapse wrap-full text-center uppercase">
    <li class="small-4 columns">
      <a ng-class="{'nav-link-active': page=='home'}" class="nav-link" href="#/" lang="en">
        Home
      </a>
    </li>
    <li class="small-4 columns">
      <a ng-class="{'nav-link-active': page=='event1'}" class="nav-link" href="#/event1" lang="en">
        Event I
      </a>
    </li>
    <li class="small-4 columns">
      <a ng-class="{'nav-link-active': page=='event2'}" class="nav-link" href="#/event2" lang="en">
        Event II
      </a>
    </li>
  </ul>
</nav>