<section class="text-center prizes wrap-full lame">
  <article class="row">
    <h2 class="large-12 columns white-title">이벤트에 참여하신 분들께는!</h2>
    <ul class="prize-list">
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-winners"><strong>x1</strong> 명</span>
            <span class="ruban"></span>
            <span class="prize-img"><img src=" /images/home/prize-hotel1.jpg" alt="Prize preview"></span>
            <strong class="color-blue">프랑스 여행</strong><br>
            호텔 드 세르 2박 & 테르 블랑쉐 2박<br class="hide-for-medium-down">
            2인 파리 왕복 항공권
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-winners"><strong>x1</strong> 명</span>
            <span class="ruban"></span>
            <span class="prize-img"><img src=" /images/home/prize-hotel2.jpg" alt="Prize preview"></span>
            <strong class="color-blue">홍콩 여행</strong><br>
            그랜드 하얏트 홍콩 2박 숙박권
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-winners"><strong>x1</strong> 명</span>
            <span class="ruban"></span>
            <span class="prize-img"><img src=" /images/home/prize-hotel3.jpg" alt="Prize preview"></span>
            <strong class="color-blue">국내 여행</strong><br>
            빠세 꼼뽀제 1박 숙박권
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-img"><img src=" /images/home/prize-30000.png" alt="Prize preview"></span>
            <strong>에바종</strong><br>
            <strong class="color-blue">30,000원</strong> 할인쿠폰
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-img"><img src=" /images/home/prize-dutyfree.png" alt="Prize preview"></span>
            <strong>워커힐 면세점</strong><br>
            <strong class="color-blue">50,000원</strong> 상품권
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-img"><img src=" /images/home/prize-5000.png" alt="Prize preview"></span>
            <strong>에바종</strong><br>
            <strong class="color-blue">5,000원</strong> 할인 쿠폰
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns hide-for-small-only">
          <span class="prize-content prize-chips">
            <span class="prize-img"><img src=" /images/home/prize-chips1.png" alt="Prize preview"></span>
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-img"><img src=" /images/home/prize-starbuck.png" alt="Prize preview"></span>
            <strong class="color-blue">스타벅스</strong><br>
            기프티콘
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns hide-for-small-only">
          <span class="prize-content prize-chips">
            <span class="prize-img"><img src=" /images/home/prize-chips2.png" alt="Prize preview"></span>
          </span>
      </li>
    </ul>
  </article>
</section>