<section class="text-center prizes wrap-full lame">
  <article class="row">
    <h2 class="large-12 columns white-title">이벤트에 참여하신 분들께는!</h2>
    <ul class="prize-list">
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-winners"><strong>x1</strong> 명</span>
            <span class="ruban"></span>
            <span class="prize-img"><img src=" /images/home/prize-hotel4.jpg" alt="Prize preview"></span>
            <strong class="color-blue">내가 고른 호텔</strong><br>
            2박 숙박권
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-img"><img src=" /images/home/prize-5000.png" alt="Prize preview"></span>
            <strong>에바종</strong><br>
            <strong class="color-blue">5,000원</strong> 할인 쿠폰
          </span>
      </li>
      <li class="large-4 medium-4 small-12 columns">
          <span class="prize-content">
            <span class="prize-img"><img src=" /images/home/prize-starbuck.png" alt="Prize preview"></span>
            <strong class="color-blue">스타벅스</strong><br>
            기프티콘
          </span>
      </li>
    </ul>
  </article>
</section>