<div class="prize-won" ng-show="won">
  <p class="prize-content" ng-show="prizeToShow==6">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src=" /images/home/prize-hotel3.jpg" alt="Prize preview"></span>
    <strong class="color-blue">국내 여행</strong><br>
    빠세 꼼뽀제 1박 숙박권
  </p>
  <p class="prize-content" ng-show="prizeToShow==5">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src=" /images/home/prize-hotel2.jpg" alt="Prize preview"></span>
    <strong class="color-blue">홍콩 여행</strong><br>
    그랜드 하얏트 홍콩 2박 숙박권
  </p>
  <p class="prize-content" ng-show="prizeToShow==4">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src=" /images/home/prize-hotel1.jpg" alt="Prize preview"></span>
    <strong class="color-blue">프랑스 여행</strong><br>
    호텔 드 세르 2박 & 테르 블랑쉐 2박<br class="hide-for-medium-down">
    2인 파리 왕복 항공권
  </p>
  <p class="prize-content" ng-show="prizeToShow==3">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src=" /images/home/prize-30000.png" alt="Prize preview"></span>
    <strong>에바종</strong><br>
    <strong class="color-blue">30,000원</strong> 할인쿠폰
  </p>
  <p class="prize-content" ng-show="prizeToShow==2">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src="/images/home/prize-dutyfree.png" alt="Prize preview"></span>
    <strong>워커힐 면세점</strong><br>
    <strong class="color-blue">50,000원</strong> 상품권
  </p>
  <p class="prize-content" ng-show="prizeToShow==1">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src="/images/home/prize-starbuck.png" alt="Prize preview"></span>
    <strong class="color-blue">스타벅스</strong><br>
    기프티콘
  </p>
  <p class="prize-content prize-5000" ng-show="prizeToShow==7">
    <span class="prize-winners uppercase">당첨!</span>
    <span class="prize-close" ng-click="prizeClose()" ng-if="credits>-1">X</span>
    <span class="prize-img"><img src="/images/home/prize-5000.png" alt="Prize preview"></span>
    <strong>에바종</strong><br>
    <strong class="color-blue">5,000원</strong> 할인 쿠폰
  </p>
</div>