<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_nav.html'"></div>
<section class="home">
  <header class="row text-center home-header wrap-full balloons lame">
    <div class="large-12 columns">
      <h1 class="main-title"><img src="/images/title.png" alt="Evasion Lucky 3 Years"></h1>
      <p><img src=" /images/home/bigmachine.png" alt="Slot Machine"></p>
    </div>
  </header>
  <section class="row text-center home-evasion-articles wrap-full lame">
    <h2 class="uppercase white-title" lang="en">Évasion, 3 Years & 3 Stories</h2>
    <p>에바종 3년의 성장, 그리고 3가지 이야기</p>
    <div class="wrap-830 hide-for-small-only">
      <article class="medium-4 small-12 columns">
        <div class="article-content">
          <p class="icon-container"><img src=" /images/home/icon-book.png" alt="Book"></p>
          <h2 class="color-fushia">비하인드 스토리</h2>
          <p>
            프랑스 출신의 귀족이
            한국에 온 이유는?
          </p>
          <p><a class="underline-link uppercase color-blue" href="http://www.evasion.co.kr/meets/" target="_blank" class="uppercase" lang="en" tracker-type="click" tracker="readmore1">Read More</a></p>
        </div>
      </article>
      <article class="medium-4 small-12 columns">
        <div class="article-content">
          <p class="icon-container"><img src=" /images/home/icon-plane.png" alt="Plane"></p>
          <h2 class="color-fushia">베스트 후기</h2>
          <p>
            후기로 증명하는 에바종의
            베스트 호텔들
          </p>
          <p><a class="underline-link uppercase color-blue" href="http://www.evasion.co.kr/event/review_event.html" target="_blank" class="uppercase" lang="en" tracker-type="click" tracker="readmore2">Read More</a></p>
        </div>
      </article>
      <article class="medium-4 small-12 columns">
        <div class="article-content">
          <p class="icon-container"><img src=" /images/home/icon-world.png" alt="World"></p>
          <h2 class="color-fushia">에바종 컬렉션</h2>
          <p>
            2015년상시예약이 가능한<br>
            <strong class="uppercase" lang="en">Évasion Collection Open!</strong>
          </p>
          <p><a class="underline-link uppercase color-blue" href="http://www.evasion.co.kr/goods/collections.php?cc=1" target="_blank" class="uppercase" lang="en" tracker-type="click" tracker="readmore3">Read More</a></p>
        </div>
      </article>
      <div class="clear"></div>
    </div>
  </section>
  <section class="row text-center home-events lame">
    <article>
      <div class="large-12 columns">
        <p class="text-pen color-fushia">
          트래블 클럽 에바종이 3주년을 맞아 감사의 마음으로<br class="hide-for-small-only">
          3년 동안 받은 사랑보다 더 크게 고객님께 돌려드립니다!
        </p>
        <p><strong><span class="color-blue">이벤트 1, 2</span></strong> 모두 참여하시고 에바종과 함께 <strong><span class="color-blue">스타일리시</span></strong>한 여행을 떠나세요!
        <br>이벤트 1은 하루 한번 참여가 가능하고 이벤트를 공유할 경우 한번 더 참여 가능합니다.</p>
      </div>
      <div class="small-12 medium-6 columns divider">
        <h2 class="event-title uppercase" lang="en">Event 1</h2>
        <p class="event-logo"><img src="/images/minimachine.png" alt="Event 1 logo"></p>
        <p><strong class="color-blue uppercase" lang="en">Lucky 3 Years</strong></p>
        <p class="bold">슬롯 머신 돌리고 숙박권 받기!</p>
        <p><a class="my-btn uppercase" href="#/event1" lang="en">Start<span class="arrow"></span></a></p>
      </div>
      <div class="small-12 medium-6 columns">
        <h2 class="event-title uppercase" lang="en">Event 2</h2>
        <p class="event-logo"><img src="/images/home/hotel10.png" alt="Event 2 logo"></p>
        <p><strong class="color-blue uppercase">간단한 댓글 이벤트!</strong></p>
        <p class="bold">가장 가보고 싶은 호텔 고르고 숙박권 받기!</p>
        <p><a class="my-btn uppercase" href="#/event2" lang="en">Start<span class="arrow"></span></a></p>
      </div>
    </article>
  </section>
  <div ng-include="'partials/_prizes.html'"></div>
  <div ng-include="'partials/_terms.html'"></div>
</section>
<div ng-include="'partials/_footer.html'"></div>
