<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_nav.html'"></div>
<section class="terms-page lame">
  <div class="row text-center">
    <div class="large-12 columns">
      <h1 class="main-title"><img src="/images/title.png" alt="Evasion Lucky 3 Years"></h1>
      <div class="wrap-700">
        <p>주체: ÉVASION</p>
        <p>목적 : ÉVASION 에바종 3주년 EVENT</p>
        <p>수집될 개인 정보 목차: 이름, 핸드폰 번호, 이메일</p>
        <p>보관 및 사용 기간: 1년</p>
        <p>에바종은 고객님의 개인 정보를 보호하고, 적절한 서비스를 제공하기 위해 기본방침을 가지고 정보를 수집하고 있습니다. 이벤트에 응모하기 위해서는 아래의 개인정보취급방침에 동의해야 합니다.수집된 고객님의 개인 정보는 제3자에게 제공되지 않으며, 고객님이 입력한 정보는 경품 배송, 문의에 대한 답변, 그리고 에바종이 제공하는 다양한 혜택을 전달하기 위한 용도로만 사용됩니다.</p>
      </div>
     </div>
  </div>
</section>
<div ng-include="'partials/_footer.html'"></div>
